In [11]:
import pandas as pd
import matplotlib

In [2]:
%matplotlib inline

In [3]:
player_details=pd.read_csv("player_details.csv")
player_details.rename(columns=({'Tm_url': 'Team', 'Tm': 'Team_url'}),inplace=True)
print(player_details.head())
print(player_details.shape[0],player_details.shape[1])

                                          player_url   Season  Age Team  \
0  https://www.basketball-reference.com/players/a...  2016-17   23  OKC
1  https://www.basketball-reference.com/players/a...  2016-17   23  OKC
2  https://www.basketball-reference.com/players/a...  2017-18   24  OKC
3  https://www.basketball-reference.com/players/a...  2016-17   23  OKC
4  https://www.basketball-reference.com/players/a...  2017-18   24  OKC

               Team_url   Lg Pos   G  GS    MP  ...    FT%  ORB  DRB  TRB  \
0  /teams/OKC/2017.html  NBA  SG  68   6  15.5  ...  0.898  0.3  1.0  1.3
1  /teams/OKC/2017.html  NBA  SG  68   6  15.5  ...  0.898  0.3  1.0  1.3
2  /teams/OKC/2018.html  NBA  SG  75   8  15.1  ...  0.848  0.3  1.2  1.5
3  /teams/OKC/2017.html  NBA  SG  68   6  15.5  ...  0.898  0.3  1.0  1.3
4  /teams/OKC/2018.html  NBA  SG  75   8  15.1  ...  0.848  0.3  1.2  1.5

   AST  STL  BLK  TOV   PF  PTS
0  0.6  0.5  0.1  0.5  1.7  6.0
1  0.6  0.5  0.1  0.5  1.7  6.0
2  0.4  0.5  0.1  0.3  1.7  4.7
3  0.6  0.5  0.1  0.5  1.7  6.0
4  0.4  0.5  0.1  0.3  1.7  4.7

[5 rows x 32 columns]
63637 32

In [4]:
player_salaries=pd.read_csv("player_salaries.csv")
print(player_salaries.head())
print(player_salaries.shape[0],player_salaries.shape[1])

                  player_url   season                   team   lg      salary
0  /players/a/abrinal01.html  2016-17  Oklahoma City Thunder  NBA  $5,994,764
1  /players/a/abrinal01.html  2017-18  Oklahoma City Thunder  NBA  $5,725,000
2  /players/a/abrinal01.html  2018-19  Oklahoma City Thunder  NBA  $3,575,183
3    /players/a/acyqu01.html  2012-13        Toronto Raptors  NBA    $665,000
4    /players/a/acyqu01.html  2013-14        Toronto Raptors  NBA    $788,872
7935 5

In [5]:
player_stat=pd.read_csv("player_stat.csv")
print(player_stat.head())
print(player_stat.shape[0],player_stat.shape[1])

                         url          name  from    to  pos    ht   wt  \
0  /players/a/abrinal01.html  √Ålex Abrines  2017  2019  G-F   6-6  200
1    /players/a/acyqu01.html    Quincy Acy  2013  2019  F-C   6-7  240
2  /players/a/adamsja01.html  Jaylen Adams  2019  2021    G   6-0  225
3  /players/a/adamsjo01.html  Jordan Adams  2015  2016    G   6-5  209
4  /players/a/adamsst01.html  Steven Adams  2014  2021    C  6-11  265

               dob          college  active recruiting_rank  \
0   August 1, 1993              NaN    True            None
1  October 6, 1990           Baylor    True            None
2      May 4, 1996  St. Bonaventure    True            None
3     July 8, 1994             UCLA   False              59
4    July 20, 1993             Pitt    True               5

              draft_team  experience(year)
0  Oklahoma City Thunder               3.0
1        Toronto Raptors               7.0
2                   None               2.0
3      Memphis Grizzlies               2.0
4  Oklahoma City Thunder               7.0
1235 13

In [6]:
team_basic=pd.read_csv("team_basic.csv")
team_basic['name']=team_basic['name'].astype(str)
print(team_basic.head())
print(team_basic.shape[0],team_basic.shape[1])

                name          url       lg     from       to  years  games  \
0      Atlanta Hawks  /teams/ATL/      NBA  1949-50  2020-21     72   5654
1     Boston Celtics  /teams/BOS/  NBA/BAA  1946-47  2020-21     75   5831
2      Brooklyn Nets  /teams/NJN/  NBA/ABA  1967-68  2020-21     54   4330
3  Charlotte Hornets  /teams/CHA/      NBA  1988-89  2020-21     31   2429
4      Chicago Bulls  /teams/CHI/      NBA  1966-67  2020-21     55   4395

   wins  losses  wlpercent  playoffs  div  conf  champ  \
0  2781    2873      0.492        46   11     0      1
1  3444    2387      0.591        57   31     9     17
2  1882    2448      0.435        28    5     2      2
3  1066    1363      0.439        10    0     0      0
4  2242    2153      0.510        35    9     6      6

                    location       seasons_played                record
0           Atlanta, Georgia                   72  2781-2873, .492 W-L%
1      Boston, Massachusetts                   75  3444-2387, .591 W-L%
2         Brooklyn, New York  54 (45 NBA & 9 ABA)  1882-2448, .435 W-L%
3  Charlotte, North Carolina                   31  1066-1363, .439 W-L%
4          Chicago, Illinois                   55  2242-2153, .510 W-L%
30 17

In [7]:
team_stat=pd.read_csv("team_stats.csv",index_col=False)
team_stat['Team']=team_stat['Team'].astype(str)
print(team_stat.head())
print(team_stat.shape[0],team_stat.shape[1])

                    url   Season   Lg            Team   W   L   W/L%  \
0  /teams/ATL/2020.html  2019-20  NBA   Atlanta Hawks  20  47  0.299
1  /teams/ATL/2019.html  2018-19  NBA   Atlanta Hawks  29  53  0.354
2  /teams/ATL/2018.html  2017-18  NBA   Atlanta Hawks  24  58  0.293
3  /teams/ATL/2017.html  2016-17  NBA  Atlanta Hawks*  43  39  0.524
4  /teams/ATL/2016.html  2015-16  NBA  Atlanta Hawks*  48  34  0.585

     Finish   SRS  Pace  Rel_Pace  ORtg  Rel_ORtg  DRtg  Rel_DRtg  Playoffs  \
0  5th of 5 -7.71   NaN     103.0   2.7     107.2  -3.4     114.8       4.2
1  5th of 5 -6.06   NaN     103.9   3.9     108.1  -2.3     113.9       3.5
2  5th of 5 -5.30   NaN      98.3   1.0     105.0  -3.6     110.6       2.0
3  2nd of 5 -1.23   NaN      97.4   1.0     104.9  -3.9     105.7      -3.1
4  2nd of 5  3.49   NaN      97.1   1.3     105.1  -1.3     101.4      -5.0

   Coaches                  Top_WS                  top_ws
0      NaN                     NaN       L. Pierce (20-47)
1      NaN                     NaN       L. Pierce (29-53)
2      NaN                     NaN  M. Budenholzer (24-58)
3      NaN  Lost E. Conf. 1st Rnd.  M. Budenholzer (43-39)
4      NaN     Lost E. Conf. Semis  M. Budenholzer (48-34)
5115 19

In [8]:
#Q2.1 Êï∞ÊçÆË°®ÂêàÂπ∂
#TeamË°®ÂêàÂπ∂
team=pd.merge(team_stat,team_basic,left_on='Team',right_on='name',how='left')

#ÈòüÂêç‰∏çÂêåÊ†ºÂºèÈóÆÈ¢ò
#Since the * indicates a playoff appearance, the team* should be changed to team.
team_basic['name'].nunique()
for i in range(team_stat.shape[0]):
    team_stat.loc[i,'Team']=team_stat.loc[i,'Team'].strip('*')
team_stat['Team'].unique()

team=pd.merge(team_stat,team_basic,left_on='Team',right_on='name',how='left')
print(team.head())
print(team.shape[0],team.shape[1])

                  url_x   Season   Lg           Team   W   L   W/L%    Finish  \
0  /teams/ATL/2020.html  2019-20  NBA  Atlanta Hawks  20  47  0.299  5th of 5
1  /teams/ATL/2019.html  2018-19  NBA  Atlanta Hawks  29  53  0.354  5th of 5
2  /teams/ATL/2018.html  2017-18  NBA  Atlanta Hawks  24  58  0.293  5th of 5
3  /teams/ATL/2017.html  2016-17  NBA  Atlanta Hawks  43  39  0.524  2nd of 5
4  /teams/ATL/2016.html  2015-16  NBA  Atlanta Hawks  48  34  0.585  2nd of 5

    SRS  Pace  ...    wins  losses  wlpercent  playoffs   div  conf  champ  \
0 -7.71   NaN  ...  2781.0  2873.0      0.492      46.0  11.0   0.0    1.0
1 -6.06   NaN  ...  2781.0  2873.0      0.492      46.0  11.0   0.0    1.0
2 -5.30   NaN  ...  2781.0  2873.0      0.492      46.0  11.0   0.0    1.0
3 -1.23   NaN  ...  2781.0  2873.0      0.492      46.0  11.0   0.0    1.0
4  3.49   NaN  ...  2781.0  2873.0      0.492      46.0  11.0   0.0    1.0

           location seasons_played                record
0  Atlanta, Georgia             72  2781-2873, .492 W-L%
1  Atlanta, Georgia             72  2781-2873, .492 W-L%
2  Atlanta, Georgia             72  2781-2873, .492 W-L%
3  Atlanta, Georgia             72  2781-2873, .492 W-L%
4  Atlanta, Georgia             72  2781-2873, .492 W-L%

[5 rows x 36 columns]
5115 36

In [9]:
#PlayerË°®ÂêàÂπ∂
#Ë∞ÉÊï¥‰∏ªÈîÆÊ†ºÂºè‰∏ÄËá¥
for i in range(player_details.shape[0]):
    player_details.loc[i,'player_url']=player_details.loc[i,'player_url'][36:]
#print("salaries",player_salaries.head())
#print("stat",player_stat.head())
player=pd.merge(player_details,player_salaries,left_on=['player_url','Season'],right_on=['player_url','season'],how='left')
player=pd.merge(player,player_stat,left_on='player_url',right_on='url',how='left')
print(player.head())
print(player.shape[0],player.shape[1])

                  player_url   Season  Age Team              Team_url   Lg  \
0  /players/a/abrinal01.html  2016-17   23  OKC  /teams/OKC/2017.html  NBA
1  /players/a/abrinal01.html  2016-17   23  OKC  /teams/OKC/2017.html  NBA
2  /players/a/abrinal01.html  2017-18   24  OKC  /teams/OKC/2018.html  NBA
3  /players/a/abrinal01.html  2016-17   23  OKC  /teams/OKC/2017.html  NBA
4  /players/a/abrinal01.html  2017-18   24  OKC  /teams/OKC/2018.html  NBA

  Pos   G  GS    MP  ...    to  pos   ht   wt             dob  college  \
0  SG  68   6  15.5  ...  2019  G-F  6-6  200  August 1, 1993      NaN
1  SG  68   6  15.5  ...  2019  G-F  6-6  200  August 1, 1993      NaN
2  SG  75   8  15.1  ...  2019  G-F  6-6  200  August 1, 1993      NaN
3  SG  68   6  15.5  ...  2019  G-F  6-6  200  August 1, 1993      NaN
4  SG  75   8  15.1  ...  2019  G-F  6-6  200  August 1, 1993      NaN

   active  recruiting_rank             draft_team  experience(year)
0    True             None  Oklahoma City Thunder               3.0
1    True             None  Oklahoma City Thunder               3.0
2    True             None  Oklahoma City Thunder               3.0
3    True             None  Oklahoma City Thunder               3.0
4    True             None  Oklahoma City Thunder               3.0

[5 rows x 49 columns]
67033 49

In [10]:
#Save dataframes
team.to_csv("team.csv")
player.to_csv("player.csv")

#Provide a data dictionary for your vaiables:
<br>Player Table Variables:
<br>player_url, string, the url of palyer's website
<br>Season, string, the season of that specific player data
<br>Age, int, the player's age at that season
<br>Team, string, the player's team at that season
<br>Team_url, string, the utl of player's team of that record
<br>Lg, string, the league (like NBA) the player played
<br>Pos, string, position in the team of the player
<br>G, int,times of games the player played in that season
<br>GS, int,times of games the player played since the very start in that season
<br>MP, float, minutes played per game of player in that season
<br>FG, float, field goals per game of player in that season
<br>FGA, float, count of field goals attempt of player in that season
<br>FG%, float, percentage of field goal attempt successful rate
<br>3P, float, 3-Point Field Goals Per Game
<br>3PA, float, 3-Point Field Goals attempt per game
<br>3P%, float, percentage of 3-Point Field Goals successful rate
<br>2P, float, 2-Point Field Goals Per Game
<br>2PA, float, 2-Point Field Goals attempt per game
<br>2P%, float, percentage of 2-Point Field Goals successful rate
<br>eFG%, float, effective field goal percentage, score weighted percentage of both 2-point and 3-point attempts
<br>FT, float, count of free throws per game of the player in that season
<br>FTA, float, count of free throws attempts per game of the player in that season
<br>FT%, float, percentage of free throw attempts successful rate
<br>ORB, float, count of offensive rebounds per game of the player in that season
<br>DRB, float, count of defensive rebounds per game of the player in that season
<br>TRB, float, count of total rebounds per game of the player in that season
<br>AST, float, count of assists per game of the player in that season
<br>STL, float, count of steals per game of the player in that season
<br>BLK, float, count of blocks per game of the player in that season
<br>TOV, float, count of turnovers per game of the player in that season
<br>PF, float, count of personal fools per game of the player in that season
<br>PTS, float, points per game of the player in that season
<br>season, string, the season of player salary record 
<br>team, string, the team the player served at the season
<br>lg, string, the league the player palyed in that season
<br>salary, float, the salary of the player in that season
<br>url, string, the web url of player information
<br>name, string, the player name
<br>from, int, the player stat data start year covered
<br>to, int, the player stat data start year covered
<br>pos, string, position the player played in the statistic data covering period
<br>ht, string, height range of the player in the statistic data covering period
<br>wt, int, weight of the player in the statistic data covering period
<br>dob, string, the date of birth of the player
<br>college, string, the college of the player
<br>active, bool, indicate whether the player is active in this season
<br>recruiting_rank, string, the recruiting rank information of player in that season
<br>draft_team, string, the team that the player in during the statisitic period
<br>experience(year), float, experience years of the player till the statistic period ended
<br>
<br>Team Table Variables:
<br>url_x, string, url of the team website
<br>Season, string, season of the team data record
<br>Lg, string, league like NBA that the record belongs to
<br>Team, string, the name of the name
<br>W, int, counts of winning games of the team in that season
<br>L, int, counts of loss games of the team in that season
<br>W/L%, float, winning percentage of all games of the team atteneded in that season
<br>Finish, string, regular season finished status
<br>SRS, float, simple rating system score, the higher the better
<br>Pace, float, an estimate of possessions per 48 minutes 
<br>Rel_Pace, float, team's relative possessions to the whole league
<br>ORtg, float, offensive rating, estimate of points scored per possession
<br>Rel_ORtg, float, team's offensive rating relative to the league
<br>DRtg, float, team's defensive rating 
<br>Rel_DRtg, float, team's defensive rating relative to the league
<br>Playoffs, string, playoffs games information
<br>Coaches, string, the coach of the team in that season
<br>Top_WS, string, highest win share generator that season
<br>top_ws, string, highest win share player that season
<br>name, string, team name
<br>url_y, string, team statistics information website
<br>lg, string, league the team played
<br>from, string, start year of the team statistics 
<br>to, string, end year of the team statistics
<br>years, float, years the team exists
<br>games, float, total number of games the team has played
<br>wins, float, total games winned by the team
<br>losses, float, total games lost by the team
<br>wlpercent, float, winning percentage of games the team palyed
<br>playoffs, int, count of years of playoff games the team played
<br>div, float, count of years team finished first in the division
<br>conf, float, years team won the conference championship
<br>champ, float, years team won the league championship
<br>location, string, location of the team
<br>seasons_played, float, count of seasons the team has played
<br>record, string, the listed record index information of the team records

In [31]:
#Later we extract the year information of season out and delete the duplicates "season" variables versus "Season" variables, and 
# and droped NaN of player dataframe, and got new_player.csv. 
player=pd.read_csv("new_player.csv")
player.head()

,player_url,Age,Team,Team_url,Lg,Pos,G,GS,MP,FG,...,pos,ht,wt,dob,college,active,recruiting_rank,draft_team,experience(year),season_year
0,/players/w/westma02.html,25,ATL,/teams/ATL/2010.html,NBA,SG,39,1,3.6,0.3,...,G,6-5,210,"June 19, 1984",Georgia Tech,False,None,None,4.0,2009
1,/players/m/morrira01.html,24,ATL,/teams/ATL/2010.html,NBA,PF,28,0,4.4,0.8,...,C,6-10,266,"January 2, 1986",Kentucky,False,10,None,4.0,2009
2,/players/c/crawfja01.html,29,ATL,/teams/ATL/2010.html,NBA,SG,79,0,31.1,6.3,...,G,6-5,185,"March 20, 1980",Michigan,False,46,Cleveland Cavaliers,20.0,2009
3,/players/s/smithjo02.html,34,ATL,/teams/ATL/2010.html,NBA,PF,64,1,9.3,1.2,...,F,6-10,225,"July 26, 1975",Maryland,False,None,Golden State Warriors,16.0,2009
4,/players/b/bibbymi01.html,31,ATL,/teams/ATL/2010.html,NBA,PG,80,80,27.4,3.4,...,G,6-1,190,"May 13, 1978",Arizona,False,None,Vancouver Grizzlies,14.0,2009

In [32]:
#Clean the team dataframe, drop N/A records
team=pd.read_csv("team.csv", index_col=0)
team=team.dropna(axis=1)
team.head()

,url_x,Season,Lg,Team,W,L,W/L%,Finish,SRS,Rel_Pace,ORtg,Rel_ORtg,DRtg,Rel_DRtg,Playoffs,top_ws
0,/teams/ATL/2020.html,2019-20,NBA,Atlanta Hawks,20,47,0.299,5th of 5,-7.71,103.0,2.7,107.2,-3.4,114.8,4.2,L. Pierce (20-47)
1,/teams/ATL/2019.html,2018-19,NBA,Atlanta Hawks,29,53,0.354,5th of 5,-6.06,103.9,3.9,108.1,-2.3,113.9,3.5,L. Pierce (29-53)
2,/teams/ATL/2018.html,2017-18,NBA,Atlanta Hawks,24,58,0.293,5th of 5,-5.30,98.3,1.0,105.0,-3.6,110.6,2.0,M. Budenholzer (24-58)
3,/teams/ATL/2017.html,2016-17,NBA,Atlanta Hawks,43,39,0.524,2nd of 5,-1.23,97.4,1.0,104.9,-3.9,105.7,-3.1,M. Budenholzer (43-39)
4,/teams/ATL/2016.html,2015-16,NBA,Atlanta Hawks,48,34,0.585,2nd of 5,3.49,97.1,1.3,105.1,-1.3,101.4,-5.0,M. Budenholzer (48-34)

In [33]:
#Q2 For the most current season in the dataset
#a how many active players?
player2=player[player['season_year']==2019]
player2=player2[player2['active']==True]
player2['player_url'].nunique()
#There are 386 active players in season 2019-2020

386

In [34]:
#b how many players in each postion?
player2=player[player['season_year']==2019]
posplayer = player2['player_url'].groupby(player2['Pos'])
posplayer.count()
'''
Pos    Number
C        86
C,PF      5
C,SF      1
PF       75
PF,SF     5
PG       71
PG,SG     3
SF       65
SF,SG     3
SG       83
'''

Pos
C        86
C,PF      5
C,SF      1
PF       75
PF,SF     5
PG       71
PG,SG     3
SF       65
SF,SG     3
SG       83
Name: player_url, dtype: int64

In [39]:
#c Average age, weight, experience, salary
player2=player[player['season_year']==2019]
print("Age",player2["Age"].mean())
print("Weight",player2['wt'].mean())
print("Experience",player2['experience(year)'].mean())
print("Salary",player2['salary'].mean())

Age 26.6448362720403
Weight 218.59445843828715
Experience 6.18639798488665
Salary 8322815.602015113

In [44]:
#d career salary
#everybody has different career, so group by player and compute mean salary
player2=player.groupby("player_url")
#then compute all players' career salary 
careers=player2['salary'].mean()
careers.mean()

3552563.93480495

In [56]:
#3 a how many palyers were active in each season?
player2=player[player['active']==True]
player2=player2["player_url"].groupby(player2["season_year"])
player2.count()
'''
season_year
2009     65
2010     83
2011    106
2012    141
2013    160
2014    209
2015    248
2016    303
2017    362
2018    450
2019    386
'''

season_year
2009     65
2010     83
2011    106
2012    141
2013    160
2014    209
2015    248
2016    303
2017    362
2018    450
2019    386
Name: player_url, dtype: int64

In [58]:
#average salary by season
player2=player["salary"].groupby(player["season_year"])
player2.mean()

season_year
2009    4.583587e+06
2010    4.410480e+06
2011    4.218648e+06
2012    4.332523e+06
2013    5.017981e+06
2014    4.163511e+06
2015    4.551682e+06
2016    5.753787e+06
2017    6.492618e+06
2018    6.829705e+06
2019    8.322816e+06
Name: salary, dtype: float64

In [60]:
#variance of salary be season
player2.var()

season_year
2009    2.238924e+13
2010    2.099623e+13
2011    2.016697e+13
2012    2.089866e+13
2013    2.435260e+13
2014    2.166347e+13
2015    2.636366e+13
2016    4.161231e+13
2017    5.555510e+13
2018    6.318860e+13
2019    8.521632e+13
Name: salary, dtype: float64

In [92]:
#b top 10% paid palyers current season?
player2=player[player['season_year']==2019]
player2=player2.sort_values(axis=0,ascending=False,by=['salary'])
rank10=player2.shape[0]//10
print(player2.iloc[:rank10,:]["player_url"])
print(player2.iloc[:rank10,:]["Team"])
#We identify palyers by url, because there are players with the same name
#following are the best paid 39 athletes webs and their team

1389    /players/c/curryst01.html
1519    /players/w/westbru01.html
3010     /players/p/paulch01.html
1521    /players/h/hardeja01.html
1960    /players/j/jamesle01.html
1247    /players/g/griffbl01.html
4006    /players/l/lowryky01.html
1824    /players/g/georgpa01.html
291     /players/w/walkeke02.html
1815    /players/l/leonaka01.html
2256    /players/b/butleji01.html
3292    /players/h/harrito02.html
287     /players/h/haywago01.html
4149    /players/c/conlemi01.html
405     /players/i/irvinky01.html
2393    /players/m/middlkh01.html
1106    /players/m/millspa01.html
3566    /players/l/lillada01.html
816      /players/l/loveke01.html
3290    /players/h/horfoal01.html
3158    /players/v/vucevni01.html
3857    /players/d/derozde01.html
3569    /players/m/mccolcj01.html
3287    /players/e/embiijo01.html
4919    /players/w/wiggian01.html
963     /players/p/porzikr01.html
2545    /players/t/townska01.html
3433    /players/b/bookede01.html
4806    /players/r/russeda01.html
607     /players/p/porteot01.html
1966    /players/d/davisan02.html
4291     /players/b/bealbr01.html
4461    /players/d/drumman01.html
3574    /players/w/whiteha01.html
1108    /players/j/jokicni01.html
2725    /players/h/holidjr01.html
3859    /players/a/aldrila01.html
2391    /players/a/antetgi01.html
3008    /players/a/adamsst01.html
Name: player_url, dtype: object
1389    GSW
1519    HOU
3010    OKC
1521    HOU
1960    LAL
1247    DET
4006    TOR
1824    LAC
291     BOS
1815    LAC
2256    MIA
3292    PHI
287     BOS
4149    UTA
405     BRK
2393    MIL
1106    DEN
3566    POR
816     CLE
3290    PHI
3158    ORL
3857    SAS
3569    POR
3287    PHI
4919    TOT
963     DAL
2545    MIN
3433    PHO
4806    TOT
607     CHI
1966    LAL
4291    WAS
4461    TOT
3574    POR
1108    DEN
2725    NOP
3859    SAS
2391    MIL
3008    OKC
Name: Team, dtype: object

In [96]:
#lowest 10% paid players
rank90=player2.shape[0]-rank10
print(player2.iloc[rank90:,:]["player_url"])
print(player2.iloc[rank90:,:]["Team"])
# Shaquille Harrison of CHI team is the lowest 39 paid players' urls and their team

605     /players/h/harrish01.html
407     /players/l/luwawti01.html
1385      /players/l/leeda03.html
4530    /players/g/greenje02.html
4395    /players/c/carrode01.html
4635    /players/k/kiddgmi01.html
1818    /players/p/pattepa01.html
4594    /players/j/jacksre01.html
4409    /players/c/clarkga01.html
147     /players/g/goodwbr01.html
4905    /players/w/waitedi01.html
144     /players/w/wallaty01.html
1516    /players/a/anderry01.html
4437    /players/d/danietr01.html
4878    /players/t/tollian01.html
393     /players/s/shumpim01.html
406     /players/a/anderju01.html
1518    /players/m/mbahalu01.html
3703    /players/b/breweco01.html
397     /players/c/crawfja01.html
392     /players/t/thomala01.html
4338     /players/b/belljo01.html
3858    /players/z/zellety01.html
4375    /players/b/burketr01.html
4624    /players/j/johnsty01.html
4286    /players/g/grantje02.html
4340    /players/b/bendedr01.html
2735    /players/t/thornsi01.html
1105    /players/d/doziepj01.html
683     /players/c/chealjo01.html
3425    /players/p/payneca01.html
822     /players/m/macurjp01.html
1386    /players/p/pargoje01.html
1390    /players/r/randlch01.html
3147    /players/m/magetjo01.html
2104    /players/h/hannadu01.html
4890    /players/u/uthofja01.html
4349    /players/b/boldejo01.html
4909    /players/w/waltode01.html
Name: player_url, dtype: object
605     CHI
407     BRK
1385    GSW
4530    TOT
4395    TOT
4635    TOT
1818    LAC
4594    TOT
4409    TOT
147     ATL
4905    TOT
144     ATL
1516    HOU
4437    TOT
4878    TOT
393     BRK
406     BRK
1518    HOU
3703    SAC
397     BRK
392     BRK
4338    TOT
3858    SAS
4375    TOT
4624    TOT
4286    WAS
4340    TOT
2735    NOP
1105    DEN
683     CHO
3425    PHO
822     CLE
1386    GSW
1390    GSW
3147    ORL
2104    MEM
4890    TOT
4349    TOT
4909    TOT
Name: Team, dtype: object

In [101]:
#middle 50% paid players
rank50=player2.shape[0]//2
print(player2.iloc[rank50,:]["player_url"])
print(player2.iloc[rank50,:]["Team"])
#That guy is Bullore in team NYK

/players/b/bullore01.html
NYK

In [113]:
#e total career payment for all current season actice players
player2=player[player['season_year']==2019]
player2=player2[player2["active"]==True]["player_url"]
totalpay=0
for i in range(player.shape[0]):
    if player.iloc[i,:]["player_url"] in list(player2):
        totalpay+=player.iloc[i,:]["salary"]
totalpay

14785326766

In [105]:
#4 team-player statistics
#a average salary of each team by season
player2=player["salary"].groupby([player["season_year"],player["Team"]])
player2.mean()

season_year  Team
2009         ATL     4.705974e+06
             BOS     7.172799e+06
             CHA     4.998337e+06
             CHI     4.393418e+06
             CLE     6.130489e+06
                         ...
2019         SAS     8.218263e+06
             TOR     9.963286e+06
             TOT     6.580711e+06
             UTA     1.018742e+07
             WAS     6.881683e+06
Name: salary, Length: 341, dtype: float64

In [107]:
#b average age of players by season
player2=player["Age"].groupby(player["season_year"])
player2.mean()

season_year
2009    26.665893
2010    26.663657
2011    26.591011
2012    26.555804
2013    26.702350
2014    26.564050
2015    26.571730
2016    26.399586
2017    26.340292
2018    26.106029
2019    26.644836
Name: Age, dtype: float64

In [108]:
#b average and variance of experience by season of each team
player2=player["experience(year)"].groupby([player["season_year"],player["Team"]])
player2.mean()

season_year  Team
2009         ATL     11.928571
             BOS     13.727273
             CHA     11.545455
             CHI     10.909091
             CLE     10.076923
                       ...
2019         SAS      7.230769
             TOR      6.083333
             TOT      6.574074
             UTA      6.000000
             WAS      6.333333
Name: experience(year), Length: 341, dtype: float64

In [109]:
#variance
player2.var()

season_year  Team
2009         ATL     28.840659
             BOS     21.818182
             CHA     25.272727
             CHI     23.090909
             CLE     22.910256
                       ...
2019         SAS     22.525641
             TOR     15.174242
             TOT     10.475542
             UTA     10.888889
             WAS     19.151515
Name: experience(year), Length: 341, dtype: float64

In [123]:
#c provide b's information in a tabulation format
import numpy as np
table=pd.pivot_table(player,index=["Team"],columns=["season_year"],values=["experience(year)"],aggfunc=[np.mean,np.var])
table

                        mean                                              \
            experience(year)
season_year             2009       2010       2011       2012       2013
Team
ATL                11.928571  12.083333  13.200000  11.461538  10.833333
BOS                13.727273  13.727273  12.000000  11.333333  10.888889
BRK                      NaN        NaN        NaN   9.733333  12.230769
CHA                11.545455  10.250000   8.357143   8.066667   9.363636
CHI                10.909091  11.846154  11.428571  12.083333  12.222222
CHO                      NaN        NaN        NaN        NaN        NaN
CLE                10.076923   7.666667   7.153846   8.416667   9.000000
DAL                14.666667  13.769231  13.000000  10.625000  12.000000
DEN                12.307692  12.222222  10.153846   9.533333   8.750000
DET                10.500000  10.769231   8.857143   8.500000   9.166667
GSW                 9.333333   9.500000   8.153846  10.000000  10.600000
HOU                 8.818182  10.600000   9.833333   6.636364   8.909091
IND                10.000000  10.000000  10.333333   8.785714   9.363636
LAC                 9.833333   9.000000  10.714286  13.538462  12.923077
LAL                11.545455  12.000000  10.454545  10.500000  11.454545
MEM                 8.714286   9.818182   9.600000   9.636364  12.777778
MIA                11.615385  13.733333  12.000000  13.142857  12.833333
MIL                11.166667  10.866667   9.857143  10.916667   8.888889
MIN                 9.153846   8.692308   9.733333   7.111111   9.000000
NJN                 8.642857   7.818182   7.421053        NaN        NaN
NOH                10.636364  11.000000   8.562500   8.769231        NaN
NOP                      NaN        NaN        NaN        NaN   8.769231
NYK                10.875000   7.500000  10.466667  12.733333  11.636364
OKC                 9.733333   9.916667   9.866667   9.384615   9.866667
ORL                13.916667  12.500000  10.285714   9.454545   8.666667
PHI                12.000000  10.928571  10.714286  10.083333   6.200000
PHO                11.846154   9.300000  11.846154   9.153846   8.666667
POR                10.833333   9.916667  10.400000   8.153846   9.214286
SAC                 8.307692   7.769231   8.384615   8.909091   7.714286
SAS                11.923077  11.266667   9.266667  10.933333  12.250000
TOR                10.714286   8.642857   9.785714   9.000000   9.750000
TOT                 8.953846   9.719512   8.939394   8.081633   8.294118
UTA                11.333333  11.166667  11.500000  10.500000   9.833333
WAS                10.700000   7.333333   7.583333   8.769231  10.250000

                                                                   ...  \
                                                                   ...
season_year       2014       2015       2016       2017      2018  ...
Team                                                               ...
ATL          10.214286   9.000000   7.800000   4.312500  5.333333  ...
BOS           7.900000   6.866667   7.666667   5.375000  5.642857  ...
BRK           7.600000   6.666667   6.500000   6.083333  5.733333  ...
CHA                NaN        NaN        NaN        NaN       NaN  ...
CHI          10.500000   9.000000   7.153846   5.230769  4.083333  ...
CHO           8.285714   8.357143   7.500000   7.500000  7.500000  ...
CLE          10.384615  10.785714  11.142857  11.454545  6.818182  ...
DAL          12.500000  11.214286   6.375000   6.625000  7.300000  ...
DEN           7.333333   7.461538   7.866667   7.500000  5.866667  ...
DET           8.800000   7.857143   7.066667   6.583333  7.833333  ...
GSW           9.333333   9.285714   9.866667   9.625000  8.133333  ...
HOU           8.750000   9.200000   8.250000   8.562500  8.357143  ...
IND           8.666667   7.857143   8.533333   6.562500  5.750000  ...
LAC          10.375000  10.384615  11.066667   7.181818  6.818182  ...
LAL           8.312500   7.642857   6.153846   5.933333  6.500000  ...
MEM          10.538462   9.428571   9.133333   5.529412  6.083333  ...
MIA           9.933333  11.166667   8.000000   7.357143  7.846154  ...
MIL           9.076923   6.266667   7.600000   6.333333  6.750000  ...
MIN           5.812500   7.214286   6.357143   7.846154  8.166667  ...
NJN                NaN        NaN        NaN        NaN       NaN  ...
NOH                NaN        NaN        NaN        NaN       NaN  ...
NOP           8.333333   8.687500   7.846154   8.428571  5.916667  ...
NYK           8.416667   8.266667   7.357143   7.428571  4.000000  ...
OKC           8.545455   8.714286   6.500000   8.000000  6.538462  ...
ORL           8.200000   6.384615   6.250000   6.666667  5.416667  ...
PHI           5.307692   6.214286   5.133333   6.307692  5.090909  ...
PHO           7.363636   7.500000   7.352941   5.857143  5.461538  ...
POR           9.461538   7.142857   7.416667   6.500000  5.923077  ...
SAC           7.062500   8.666667   8.307692   7.727273  4.333333  ...
SAS          11.428571  11.928571   9.250000   9.066667  7.500000  ...
TOR           9.000000   8.333333   7.142857   7.000000  6.538462  ...
TOT           8.026667   8.260000   7.301887   6.964912  7.192771  ...
UTA           5.928571   5.800000   8.066667   6.400000  6.142857  ...
WAS          10.400000   9.357143   7.000000   8.000000  6.666667  ...

                         var                                              \
            experience(year)
season_year             2010       2011       2012       2013       2014
Team
ATL                25.174242  14.457143  18.935897  20.333333  19.258242
BOS                29.818182  29.857143  32.809524   9.611111  12.766667
BRK                      NaN        NaN  26.066667  32.858974  22.257143
CHA                15.295455  12.554945  10.352381   8.654545        NaN
CHI                10.641026   7.648352  13.174242  10.444444  21.961538
CHO                      NaN        NaN        NaN        NaN  13.450549
CLE                18.969697  20.807692  14.265152  14.666667  29.923077
DAL                29.858974  45.272727  37.050000  33.500000  28.454545
DEN                24.194444  18.974359  17.123810   6.750000  11.515152
DET                13.025641  17.208791   9.545455  12.333333   5.066667
GSW                 6.090909  14.307692  12.166667  23.377778  18.095238
HOU                 6.044444   8.878788   9.254545   9.090909  33.477273
IND                 6.000000   6.606061  15.873626  10.054545  16.523810
LAC                11.272727  22.835165  10.935897  11.076923  22.116667
LAL                35.636364  33.072727  39.346154  29.472727  22.495833
MEM                19.363636  21.114286  23.254545  10.444444  34.769231
MIA                16.495238  27.692308  20.747253  22.515152  21.780952
MIL                12.695238  18.901099   8.265152   9.861111  15.743590
MIN                11.897436   9.780952  15.516340  11.818182   7.629167
NJN                12.763636  18.590643        NaN        NaN        NaN
NOH                16.000000  21.195833   7.192308        NaN        NaN
NOP                      NaN        NaN        NaN   7.192308   9.380952
NYK                15.714286  26.123810  29.209524  28.854545  22.446970
OKC                10.265152  21.266667  17.423077  16.980952  14.472727
ORL                 5.142857  20.527473  19.472727   9.878788   8.742857
PHI                15.148352  16.527473  10.083333  17.700000  13.564103
PHO                44.011111  10.641026  21.474359  10.606061   9.254545
POR                23.356061  29.377778  13.307692  14.027473  13.935897
SAC                13.358974   8.923077   8.890909  10.238095  16.462500
SAS                22.638095  26.352381  21.638095  15.113636  17.186813
TOR                17.939560  15.565934   7.333333  10.785714  13.142857
TOT                18.451220  26.496212  16.618197  13.971765  17.188468
UTA                 9.242424   7.181818  15.000000   9.787879   8.840659
WAS                10.969697  13.537879  17.192308  18.204545  18.971429



season_year       2015       2016       2017       2018       2019
Team
ATL          20.833333  20.314286   5.695833  25.952381  39.433333
BOS          11.123810  12.666667  11.583333  12.708791   9.877778
BRK          15.380952   9.653846   6.446970  11.209524  21.911765
CHA                NaN        NaN        NaN        NaN        NaN
CHI          19.384615  18.807692   6.358974   8.083333   8.769231
CHO          12.862637  17.038462  18.115385  23.961538  11.655556
CLE          21.258242  22.901099  25.072727  24.163636  12.361111
DAL          22.335165  35.450000  27.850000  46.455556  13.170330
DEN          19.769231  16.980952  18.269231  12.695238  11.211111
DET           8.901099   9.209524   8.446970  19.424242   9.963636
GSW          16.681319  20.552381  20.916667  20.695238   9.553571
HOU          26.171429  27.477273  30.395833  32.247253  20.307692
IND          16.901099  16.980952  15.462500  12.066667   3.565934
LAC          33.589744  27.638095  18.963636  24.163636  16.363636
LAL          27.631868  12.974359  18.780952  26.730769  24.730769
MEM          39.494505  31.409524  14.514706  17.901515   4.750000
MIA          17.969697  16.307692  17.170330  23.474359  27.566667
MIL           6.780952  15.828571  17.523810  11.840909  22.219780
MIN          22.796703   3.170330  21.641026  17.787879   2.333333
NJN                NaN        NaN        NaN        NaN        NaN
NOH                NaN        NaN        NaN        NaN        NaN
NOP           9.962500   5.807692  13.802198   6.992424  17.800000
NYK          18.066667  23.785714  15.494505   5.111111  10.628788
OKC          19.296703  14.090909  24.153846  15.769231  15.230769
ORL           8.089744  14.600000  11.238095  10.265152  11.666667
PHI          11.565934   5.695238  16.230769  20.090909  12.054545
PHO          17.961538  21.992647  22.439560  22.769231   5.356061
POR           9.516484   3.901515   6.884615   8.243590  17.563636
SAC          16.666667  14.064103  43.018182   6.424242  11.618182
SAS          21.456044  29.400000  34.923810  20.423077  22.525641
TOR           8.952381  11.054945  18.500000  15.102564  15.174242
TOT          17.706531  15.330189  16.463033  14.596532  10.475542
UTA           8.028571  15.923810  11.114286  11.054945  10.888889
WAS          14.093407  13.076923   8.500000  21.333333  19.151515

[34 rows x 22 columns]

In [124]:
#5 other data can be used to explain salary
# We have considered this question at the very beginning and that's why we scrapyed the more than 40 variables from the NBA website
# We noticed the field performance variables available on the website as following:
'''
FG, float, field goals per game of player in that season
FGA, float, count of field goals attempt of player in that season
FG%, float, percentage of field goal attempt successful rate
3P, float, 3-Point Field Goals Per Game
3PA, float, 3-Point Field Goals attempt per game
3P%, float, percentage of 3-Point Field Goals successful rate
2P, float, 2-Point Field Goals Per Game
2PA, float, 2-Point Field Goals attempt per game
2P%, float, percentage of 2-Point Field Goals successful rate
eFG%, float, effective field goal percentage, score weighted percentage of both 2-point and 3-point attempts
'''
# the Team related variables may also be useful:
'''
W, int, counts of winning games of the team in that season
L, int, counts of loss games of the team in that season
W/L%, float, winning percentage of all games of the team atteneded in that season
Finish, string, regular season finished status
SRS, float, simple rating system score, the higher the better
Pace, float, an estimate of possessions per 48 minutes
Rel_Pace, float, team's relative possessions to the whole league
ORtg, float, offensive rating, estimate of points scored per possession
Rel_ORtg, float, team's offensive rating relative to the league
DRtg, float, team's defensive rating
Rel_DRtg, float, team's defensive rating relative to the league
'''
#Then we study summary statistic table covering the above variables and more data that we scraped from the website.
player.describe()

,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,BLK,TOV,PF,PTS,salary,from,to,wt,experience(year),season_year
count,4948.000000,4948.000000,4948.000000,4948.000000,4948.000000,4948.000000,4934.000000,4948.000000,4948.000000,4435.000000,...,4948.000000,4948.000000,4948.000000,4948.000000,4.948000e+03,4948.000000,4948.000000,4948.000000,4936.000000,4948.000000
mean,26.519200,53.810833,26.172393,20.808731,3.239006,7.179002,0.444230,0.721241,2.053456,0.294514,...,0.421079,1.187308,1.797918,8.675849,5.319412e+06,2010.106912,2018.269604,221.721099,8.596434,2014.049515
std,4.248192,23.354308,28.525442,9.191198,2.126974,4.486935,0.088342,0.743197,1.942676,0.142605,...,0.440586,0.785849,0.737934,5.861021,6.166165e+06,5.270458,2.992152,26.584355,4.509499,3.126886
min,19.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,4.608000e+03,1993.000000,2010.000000,135.000000,1.000000,2009.000000
25%,23.000000,37.000000,1.000000,13.500000,1.600000,3.700000,0.403000,0.000000,0.200000,0.250000,...,0.100000,0.600000,1.300000,4.200000,1.230140e+06,2006.000000,2016.000000,201.000000,5.000000,2011.000000
50%,26.000000,60.000000,13.000000,20.650000,2.800000,6.300000,0.441000,0.500000,1.700000,0.333000,...,0.300000,1.000000,1.800000,7.300000,2.895010e+06,2010.500000,2019.000000,220.000000,8.000000,2014.000000
75%,29.000000,74.000000,53.000000,28.400000,4.500000,10.000000,0.486000,1.200000,3.300000,0.374000,...,0.500000,1.600000,2.300000,12.000000,7.124720e+06,2014.000000,2021.000000,240.000000,12.000000,2017.000000
max,43.000000,83.000000,82.000000,42.000000,10.900000,24.500000,1.000000,5.100000,13.200000,1.000000,...,3.700000,5.700000,6.000000,36.100000,4.023176e+07,2019.000000,2021.000000,360.000000,22.000000,2019.000000

In [125]:
#And team related summary statistics
team.describe()

,W,L,W/L%,SRS,Rel_Pace,ORtg,Rel_ORtg,DRtg,Rel_DRtg,Playoffs
count,5115.000000,5115.000000,5115.000000,5115.000000,5115.000000,5115.000000,5115.000000,5115.000000,5115.000000,5115.000000
mean,39.857283,39.579863,0.500933,-0.110997,95.030811,-0.032825,107.339980,-0.160020,107.401290,-0.098710
std,12.644069,12.321817,0.153570,4.568877,3.708090,2.122164,3.698459,3.241984,3.547761,2.950779
min,7.000000,9.000000,0.106000,-13.960000,87.700000,-5.000000,95.200000,-10.100000,98.200000,-7.700000
25%,30.000000,29.000000,0.379000,-3.130000,92.200000,-1.500000,104.800000,-2.500000,105.000000,-2.200000
50%,41.000000,39.000000,0.512000,-0.020000,94.900000,-0.300000,107.100000,-0.400000,107.600000,-0.100000
75%,49.000000,48.000000,0.610000,3.230000,97.900000,1.300000,109.900000,2.100000,110.100000,2.100000
max,73.000000,72.000000,0.890000,11.350000,105.100000,7.700000,116.700000,8.100000,117.600000,7.200000